{% extends 'base.html.twig' %}

{% block title %}Создать новый пост{% endblock %}
{% block navigation %}
    <nav>
        <ul>
            <li><a href="{{ path('homepage') }}">На главную</a></li>
        </ul>
    </nav>
    <hr>
{% endblock %}
{% block body %}
<div>
    {{ form(form_add) }}
</div>
{% endblock %}